
@font-face {
    font-family: 'title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'nav';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration-line: none;
    color: inherit;
}

unstyled-list {
    list-style: none;
}

body {
	margin: 0 auto;
	width: 90%;
}

.App {
	height: 200px;
}

.ramzxc {
    font-size: 30px;
    font-family: title;
	color: rgb(66, 66, 66);
    position: relative;
	background-color: white;
	display: flex;
	margin: 10px;
	width: auto;
	margin-top: 40px;
	margin-bottom: 20px;
	justify-content: center;
}

.ramzxc:hover  {
	border-bottom: 0;
}

.star {
	font-size: 55px;
	height: 59px;
	text-align: center;
	position: relative;
	bottom: 2px;
	right: 6px;
}

.star:hover {
	border-bottom: 0;
}

.header {
	background-color: white;
	display: flex;
	justify-content: left;
	margin: 5%;
	margin-top: 40px;
	margin-bottom: 0;
	height: 110px;
}

.nav {
	height: 50px;
	width: 90%;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'nav';
	font-style: bold;
	position: relative;
	left: 5%;
}

.navItem {
	display: flex;
	cursor: pointer;
	padding-top: 5px;
	height: 50px;
	text-align: center;
	position: relative;
	bottom: 2px;
	line-height: 50px;
	z-index: 100;
	align-items: center;
}

.navItem:hover {
	border-bottom: 2px solid rgb(56, 56, 56);
	position: relative;
	bottom: 0.5px;
	text-align: center;
}

.nava {
	display: block;
}

.nava:hover {
	border-bottom: 0;
}

.sidebar {
	float: right;
}

div {
    box-sizing: border-box;
}

section {
	display: flex;
	height: 1000px;
}

nav {
	display: flex;
	justify-content: center;
	width: 90%;
}

