
@font-face {
    font-family: 'title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'nav';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration-line: none;
    color: inherit;
}

unstyled-list {
    list-style: none;
}

.ramzxc {
    font-size: 1.5em;
    font-family: title;
    position: relative;
    padding-left: 20px;
    top: 22px;
}

.nav-list {
    list-style: none;
    position: relative;
    right: 40px;
    top: 12px;
}

.categories {
    display: inline;
    font-size: 19px;
    font-family: nav;
    position: relative;
}

.aboutMe {
    display: inline;
    font-size: 19px;
    font-family: nav;
    position: relative;
    margin-left: 20px;
}

.search {
    display: inline;
    position: relative;
    margin-left: 20px;
}

.searchButton {
    font-size: 19px;
    font-family: nav;
    background-color: black;
    color: white;
    padding-left: 5px;
    border: 0;
    outline: none;
    text-align: center;
}

.main {
    display: block;
    position: relative;
    top: px;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: black;
    height: 252px;
    width: 100%;
    z-index: 1;
}

.App {
  text-align: center;
}

div {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    background: black;
    width: 100%;
    height: 80px;
    color: white;
    padding-left: 20px;
    margin: 0;
}

