@font-face {
    font-family: 'nav';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.content {
	width: 60%;
	margin-left: 5%;
    text-align: left;
    position: relative;
    top: 50px;
    padding-left: 10px;
    font-family: 'nav';
	color: black;
	z-index: 100;
}

.title {
	font-size: 30px;
	margin: 0;
	font-weight: bold;
}