@font-face {
    font-family: 'nav';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.sidebar {
	font-family: 'nav';
	margin-left: auto;
	width: 22%;
	height: 1200px;
	margin-right: 5%;
}

.divider {
	/* border-right: 2px solid black;
	border-left: 2px solid black; */
	width: 100%;
	float: right;
	margin-top: 40%;
	font-weight: bold;
	padding-bottom: 15px;
	padding-top: 5px;
	padding-left: 0;
	position: relative;
	left: -2px;
}

.contents {
	height: auto;
	width: 100%;
	float: right;
	font-weight: lighter;
	border-left: 2px solid rgb(179, 179, 179);
	padding: 10px;
	padding-top: 0;
}

.section {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 19px;
}

.categories {
	padding-left: 30px;
}